.ourProducts
  padding: 100px 0
  h2
    color: $blue-dark
    text-align: center
    font-family: $typotitles
    font-size: 70px
    margin-bottom: 50px

  &--prod
    width: 100%
    @include minTabletPortrait
      max-width: 245px
      margin-left: auto
      margin-right: auto
  &--inf
    padding: 30px 0 
    @include minTabletPortrait
      padding-bottom: 60px
    p
      color: $blue-dark
      font-size: 20px
      margin: 0






// pasara otra hoja
.aboutus
  background-color: #ace2dd
  position: relative

  .container
    position: relative
  
  img.sello
    position: absolute
    right: 100px
    top: -100px
    max-width: 100%

  &--sides
    display: flex
    align-items: center
  
  &--slide
    width: 50%
    img
      width: 100%
  &--text
    width: 50%
  &--inf
    width: 100%
    max-width: 400px
    margin-left: 50px
    img
      display: block
      max-width: 100%
      margin-bottom: 100px
    p
      text-align: justify
      color: $blue-dark
      // margin: 0




.contactBlock
  background-color: #577e97
  padding: 60px 0
  h2
    color: white
    text-align: center
    font-family: $typotitles
    font-size: 70px
    margin-bottom: 60px
  h3, p, a
    color: white

  h3
    font-size: 33px
    font-weight: 300

  p
    font-size: 23px

  a
    font-size: 19px

  .map
    display: block
    margin-top: 50px
    img
      max-width: 100%

  &--location
    width: 100%
    max-width: 420px
    margin: 0 auto



